*{
    box-sizing: border-box;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr minmax(100px, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header"
      "Comedy-heading action-heading thriller-heading horror-heading romance-heading other-heading"
      "comedy-container action-container thriller-container horror-container romance-container other-container";
  }
  
  .header { 
    grid-area: header; 
    text-align: center;
    border: 1px solid black;
    padding: 100px;
  }
  
  .Comedy-heading { grid-area: Comedy-heading; }
  
  .action-heading { grid-area: action-heading; }
  
  .thriller-heading { grid-area: thriller-heading; }
  
  .horror-heading { grid-area: horror-heading; }
  
  .other-heading { grid-area: other-heading; }
  
  .comedy-container { grid-area: comedy-container; }
  
  .action-container { grid-area: action-container; }
  
  .thriller-container { grid-area: thriller-container; }
  
  .horror-container { grid-area: horror-container; }
  
  .romance-heading { grid-area: romance-heading; }
  
  .romance-container { grid-area: romance-container; }
  
  .other-container { grid-area: other-container; }
  
  #genre-headding{
    display: flex;
    justify-content: row;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
  }

  .logo-img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px 0 0 10px;
  }
  
  #see{
    border: 1px solid black;
  }

// pop up button css
  .popUpButton{
    width: 80px;
    height: 80px;
    font-size: 40px;
    background-color: #95e6d4;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    /* position on the page */
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* format with button tags */
    outline: blue;
    border: none;
    cursor: pointer;
  }
  
  .popUpButton:active{
    background-color: #68d9c0;
  }
 
  
  /* The popup form - hidden by default */
  .form-popup {
    height: 705px;
    border: 3px solid black;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // padding: 0px;
  }
  
  
  
  /* Set a style for the close button */
  .btn {
    background-color: red;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 30px;
    margin-bottom:10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    float: right;
    
  }

//   tab css
/* [] selector used to select all items that contain that attribute. Selects all with data-tab-content and defaults them to not display*/
[data-tab-content] {
    display: none;
  }
  
  /* if they have the active class, set them to display like normal */
  .active[data-tab-content] {
    display: block;
  }
  
  /* the tab container, uses flex to easily display in a horizontal bar */
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  /* each tab will change the cursor to point like a link */
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  /* the active tab will be pink */
  .tab.active {
    background-color: pink;
  }
  
  /* when hovering over a tab they will change colour */
  .tab:hover {
    background-color: bisque;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #description{
    border: 1px solid black;
  }
  #closeMedia{
    background-color: red;
  }

  @media screen and (max-width: 480px) {
    .container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.5fr minmax(100px, auto) 0.5fr minmax(100px, auto) 0.5fr minmax(100px, auto) 0.5fr minmax(100px, auto) 0.5fr minmax(100px, auto) 0.5fr minmax(100px, auto);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "header"
        "Comedy-heading"
        "comedy-container"
        "action-heading"
        "action-container"
        "thriller-heading"
        "thriller-container"
        "horror-heading"
        "horror-container"
        "romance-heading"
        "romance-container"
        "other-heading"
        "other-container";
      }
  }